@charset "utf-8";
.valueAddedService{
  font-size: 30px;
}
.serviceTypeList{
  display: flex;
  flex-wrap: wrap;
  .typeCell{
    position: relative;
    border-radius: 5px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: 30px;
    margin: 0 10px 10px 0;
    background-color: #fff;
    color:#333;
    cursor: pointer;
    &:active{
      top: 0.1em;
    }
    &.active{
      background-color: $main-color;
      color: #fff;
    }
  }
}